@import './assets/stylesheets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #070600;

    --item: #f2f2f2;
    --item-foreground: #070600;

    --popover: #ffffff;
    --popover-foreground: #070600;

    --primary: #161616;
    --primary-foreground: #f5faff;

    --secondary: #f4f7fa;
    --secondary-foreground: #1d0f3f;

    --muted: #f4f7fa;
    --muted-foreground: #75818c;

    --accent: #f4f7fa;
    --accent-foreground: #1d0f3f;

    --destructive: #ff3d00;
    --destructive-foreground: #f5faff;

    --border: #e8eff9;
    --input: #e8eff9;
    --ring: #070600;

    --radius: 0.5rem;
  }

  .dark {
    --background: #070600;
    --foreground: #f5faff;

    --item: #070600;
    --item-foreground: #f5faff;

    --popover: #070600;
    --popover-foreground: #f5faff;

    --primary: #f5faff;
    --primary-foreground: #1d0f3f;

    --secondary: #2c3440;
    --secondary-foreground: #f5faff;

    --muted: #2c3440;
    --muted-foreground: #a3b1bf;

    --accent: #2c3440;
    --accent-foreground: #f5faff;

    --destructive: #7d0000;
    --destructive-foreground: #f5faff;

    --border: #2c3440;
    --input: #2c3440;
    --ring: #d6e1ec;
  }
}
