@import './assets/stylesheets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eee;
    --foreground: #0a0a0a;

    --item: #dbdbdb;

    --primary: #d1fd0a;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ffffff;

    --item: #141414;
  }
}
